$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainBackground: white;
$buttonBackground: orange;


$menuBackground: black;
$menuColor: white;
