<<<<<<< HEAD
@import "../../assets/scss/config-style.scss";

=======
>>>>>>> 113d7d9 (add compositionProject.json)
* {
	margin: 0;
	padding: 0;
}
<<<<<<< HEAD

body {
  width: 100%;
  background-color: $mainBackground;
  box-sizing: border-box;
}
=======
>>>>>>> 113d7d9 (add compositionProject.json)
