<<<<<<< HEAD
<<<<<<< HEAD
@import "../../assets/scss/config-style.scss";

=======
>>>>>>> 113d7d9 (add compositionProject.json)
=======
@import "../../assets/scss/config-style.scss";

>>>>>>> b2cc149 (cinema5d-7; add component and scss for header)
* {
	margin: 0;
	padding: 0;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b2cc149 (cinema5d-7; add component and scss for header)

body {
  width: 100%;
  background-color: $mainBackground;
  box-sizing: border-box;
}
<<<<<<< HEAD
=======
>>>>>>> 113d7d9 (add compositionProject.json)
=======
>>>>>>> b2cc149 (cinema5d-7; add component and scss for header)
